//Vars 
:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

// Setup
body {
  margin: 0;
  background: rgb(219, 219, 219);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  min-height: 100vh;
  padding-bottom: 20px;
  
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

.search_container {
  // display: block;
  height: 100px;
  background: var(--color-dark);
  // display: block;
  margin: 0 auto;
  padding-top: 5px;
  margin-bottom: 20px;
  // align-items:center;
}
// Main styles
form {
  position:relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin: 20px auto;
}

input,
.submit-btn {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
  
  
}

input[type="search"] {
  outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  
}
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}
.submit-btn {
  display: none; // prevent being able to tab to it
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  cursor: pointer;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));

  +.submit-btn {
    display: block;
    
  }
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  // cursor: pointer;
  
}
.load-more-btn {
  display: block;
  height: 30px;
  background-color: palevioletred;
  color: white;
  border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
  border: none;

  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: var(--font-fam);
  cursor: pointer;
}

.photo-card img{
  // display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
}
.gallery {
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 320px;
  grid-auto-columns: 320px;
  gap: 60px 40px;
 
  
}



.info {
  display: flex;
  justify-content: center;
  gap: 2rem;

  // grid-template-columns: repeat(1, 1fr);
}

.info-item {
  text-align: center;
  font-size: 12px;
  
}


@media screen and (max-width: 1109px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-auto-columns: 300px;
  }
}

// Anything under 1024px
@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 200px;
      grid-auto-columns: 200px;
  }
}

@media screen and (max-width: 560px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    // grid-auto-rows: 100px;
    // grid-auto-columns: 100px;
  }
}